/* Global 2000's inspired styling */
body, script {
  background-color: #C0C0C0;
  color: black;
  font-family: "Comic Sans MS", "Trebuchet MS", Arial, sans-serif;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  text-decoration: underline;
}
